<p>Proposals are submitted as extended abstracts. The page limit is four (4) pages, including references.</p>

<p>Use the CEUR-ART one-column template for submissions. Templates are available <a
        href="http://ceur-ws.org/Vol-XXX/CEURART.zip" target="_blank">(LaTeX)</a>, <a
        href="http://ceur-ws.org/Vol-XXX/CEUR-Template-1col.docx" target="_blank">(Word)</a>.</p>

<p>Poster and demo submissions will be peer-reviewed by two members of the Program Committee through a single-blind
    review process.</p>