<p><b>ICSOB 2026 welcomes:</b></p>

<ul>
    <li><strong>Full Research Papers:</strong> up to <strong>15 pages</strong>, including all text, figures, tables,
        references, and appendices.</li>
    <li><strong>Short Position and Research-in-Progress papers:</strong> up to <strong>6 pages</strong>, including all
        materials.</li>
</ul>

<p>All submissions should be original, unpublished, and not under review elsewhere. Manuscripts must be written in
    English, submitted in PDF format, and anonymized for double-blind review. Each paper should include 3-5 keywords.
</p>

<p>All manuscripts should follow Springer's official Computer Science proceedings instructions for
    <strong>LNCS/LNBIP</strong>, including the current author guidelines and templates published by Springer.
    Information about the format, as well as templates for MS Word and LaTeX, can be found at: <a
        href="http://www.springer.com/gp/computer-science/lncs/conference-proceedings-guidelines">http://www.springer.com/gp/computer-science/lncs/conference-proceedings-guidelines</a>
</p>

<p>All submissions will undergo a rigorous double-blind peer-review process involving at least three reviewers.</p>

{% include /submission-guidelines/_easy-chair.html %}

<p>For all accepted submissions, at least one author must register for the conference and present the paper on site.</p>